<h1>Welcome to your new site</h1>

<p>The first page of the first section will become the homepage.</p>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path, :class => "btn btn-success btn-large" %></p>
<% end %>

<% if can? :create, Page %>
  <p><%= link_to 'New page', new_page_path, :class => "btn btn-info btn-large" %></p>
<% end %>
