<h1>Welcome to your new site</h1>

<p>The first page of the first section will show up here.</p>

<% if user_signed_in? && current_user.author? %>
  <p>Create a <%= link_to 'section', new_section_path %> and then a <%= link_to 'page', new_page_path %>.</p>
<% end %>
