<h1>Table of contents</h1>

<ol>
  <% @sections.sort_by {|section| section.sort_order}.each do |section| %>
    <li>
      <%= link_to section.name, section %>
      <ul>
        <% section.pages.sort_by {|page| page.sort_order}.each do |page| %>
          <li><%= link_to page.title, page %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ol>

<% if can? :create, Section %>
  <p><%= link_to 'New section', new_section_path %></p>
<% end %>

<% if can? :create, Page %>
  <p><%= link_to 'New page', new_page_path %></p>
<% end %>
