<h1><%= @section.name %></h1>

<ul>
  <% @section.pages.sort_by {|page| page.sort_order}.each do |page| %>
    <li><%= link_to page.title, page %></li>
  <% end %>
</ul>

<% if can? :update, Section %>
  <%= link_to "Edit #{@section.name}", edit_section_path(@section) %>
<% end %>

<p><%= link_to 'Back to table of contents', sections_path %></p>
