<% provide :forward_back do %>
  <% unless params[:deleted] %>
    <ul class="nav">
      <% if @lesson.navigating_lesson?(@section, 'previous') %>
        <li><%= link_to 'Previous lesson', lesson_show_path(@section, @lesson.navigate_to(@section, 'previous')) %></li>
      <% end %>

      <% if @lesson.navigating_lesson?(@section, 'next') %>
        <li><%= link_to 'Next lesson', lesson_show_path(@section, @lesson.navigate_to(@section, 'next')) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% provide :up do %>
  <% if @section %>
    <li><%= link_to 'Section contents', section_show_path(@section) %>
  <% end %>
<% end %>
