<% provide :forward_back do %>
  <% unless params[:deleted] %>
    <ul class="nav">
      <% if @lesson.can_navigate_to(:previous, @section) %>
        <li><%= link_to 'Previous lesson', section_lesson_show_path(@section, @lesson.navigate_to(:previous, @section)) %></li>
      <% end %>

      <% if @lesson.can_navigate_to(:next, @section) %>
        <li><%= link_to 'Next lesson', section_lesson_show_path(@section, @lesson.navigate_to(:next, @section)) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% provide :up do %>
  <% if @section %>
    <li><%= link_to 'Section contents', section_show_path(@section) %>
  <% end %>
<% end %>
