<% if @results.any? %>
  <ul>
    <% @results.each do |lesson| %>
      <li><%= link_to lesson.name, lesson %></li>
    <% end %>
  </ul>
<% else %>
  <p>No lessons found.</p>
<% end %>

<% provide :left_nav do %>
  <ul class="nav">
    <li><%= link_to 'Table of contents', lessons_path %></li>
  </ul>
<% end %>
