<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<ul>
  <% @lessons.each do |lesson| %>
    <li><%= link_to lesson.name, section_lesson_path(@section, lesson) + '?deleted=true' %></li>
  <% end %>
</ul>
