<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<% @chapters.each do |chapter| %>
  <h3><%= chapter.name %></h3>
  <ul>
    <% chapter.lessons.with_deleted.where(id: @lessons.map(&:id)).each do |lesson| %>
      <li><%= link_to lesson.name, lesson_path(lesson) + '?deleted=true' %></li>
    <% end %>
  </ul>
<% end %>
