<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<% @courses.each do |course| %>
  <h3><%= course.name %></h3>
  <ul>
    <% course.lessons.with_deleted.where(id: @lessons.map(&:id)).each do |lesson| %>
      <li><%= link_to lesson.name, lesson_path(lesson) + '?deleted=true' %></li>
    <% end %>
  </ul>
<% end %>
