<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<% @courses.each do |course| %>
  <p class="search-delete-section"><span class="label label-default"><%= course.name %></span></p>
  <ul class="list-unstyled">
    <% course.lessons.with_deleted.where(id: @lessons.map(&:id)).each do |lesson| %>
      <li><%= link_to lesson.name, lesson_path(lesson) + '?deleted=true' %></li>
    <% end %>
  </ul>
<% end %>
