<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<% @courses.each do |course| %>
  <h2><%= course.name %></h2>
  <ul class="list-unstyled">
    <% course.lessons.with_deleted.where(id: @lessons.map(&:id)).each do |lesson| %>
      <li><%= link_to lesson.name, lesson_path(lesson) + '?deleted=true' %></li>
    <% end %>
  </ul>
<% end %>
