<% provide :title, "Deleted lessons" %>

<h1><%= yield :title %></h1>

<% @sections.each do |section| %>
  <h3><%= section.name %></h3>
  <ul>
    <% section.lessons.with_deleted.where(id: @lessons.map(&:id)).each do |lesson| %>
      <li><%= link_to lesson.name, section_lesson_path(section, lesson) + '?deleted=true' %></li>
    <% end %>
  </ul>
<% end %>
