<% provide :title, "Edit #{@lesson.name}" %>

<h1><%= yield :title %></h1>

<%= render 'form' %>

<p><%= link_to "Delete #{@lesson.name}", section_lesson_path(@section, @lesson), data: { confirm: 'Are you sure?' }, method: :delete %></p>

<%= render 'navbar' %>
