<% provide :title, "Edit #{@lesson.name}" %>

<h1>Edit <%= @lesson.name %></h1>

<%= render 'form' %>

<p><%= link_to "Delete #{@lesson.name}", @lesson, :confirm => 'Are you sure?', :method => :delete %></p>

<%= render 'navbar' %>
