<div class='well'>
  <% if @lessons.any? %>
    <h3><%= @lessons.last.name %></h3>
    <ul class='list-unstyled'>
      <% @lessons.each do |lesson| %>
        <li><%= link_to lesson.section.course.name, course_section_lesson_path(lesson.section.course, lesson.section, lesson) %></li>
      <% end %>
    </ul>
  <% else %>
    Oops, it looks like you found a bad link.
  <% end %>
</div>