<% provide :title, "Lessons containing '#{@query}'" %>
<h1><%= yield :title %></h1>

<div class="form-group">
  <% if @results.any? %>
    <% @sections.each do |section| %>
      <h3 id='search-section'><%= section.name %></h3>
      <ul class="list-unstyled">
        <% section.lessons.where(id: @results.map(&:id)).each do |lesson| %>
          <li><%= link_to lesson.name, section_lesson_show_path(section, lesson) %></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <p>No lessons found.</p>
  <% end %>
</div>
