<% provide :title, "Lessons containing '#{@query}'" %>
<h1><%= yield :title %></h1>

<div class="form-group">
  <% if @results.any? %>
    <% @sections.each do |section| %>
      <p class='search-delete-section'>
        <span class="label label-default"><%= section.course.name %></span>
        <span class="label label-info"><%= section.name %></span>
      </p>
      <ul class="list-unstyled">
        <% section.lessons.where(id: @results.map(&:id)).each do |lesson| %>
          <li><%= link_to lesson.name, course_section_lesson_path(section.course, section, lesson) %></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <p>No lessons found.</p>
  <% end %>
</div>
