<% provide :title, "Lessons containing '#{@query}'" %>

<h1><%= yield :title %></h1>

<%= render 'search' %>

<% if @results.any? %>
  <ul>
    <% @results.each do |lesson| %>
      <li><%= link_to lesson.name, lesson %></li>
    <% end %>
  </ul>
<% else %>
  <p>No lessons found.</p>
<% end %>

<%= render 'index_navbar' %>
