<% provide :title, "Lessons containing '#{@query}'" %>

<h1><%= yield :title %></h1>

<%= render 'search' %>

<% if @results.any? %>
  <% @sections.each do |section| %>
    <h3><%= section.name %></h3>
    <ul>
      <% section.lessons.where(id: @results.map(&:id)).each do |lesson| %>
        <li><%= link_to lesson.name, section_lesson_path(section, lesson) %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No lessons found.</p>
<% end %>
