<% provide :title, @course.name %>
<h1><%= yield :title %></h1>

<ul class="breadcrumb">
  <li class="active"><%= @course.name %></li>
</ul>

<div class="row">
  <div class="col-xs-12">
    <%= render 'update_order_form' %>
  </div>
</div>
