<% provide :title, "Edit #{@chapter.name}" %>

<h1><%= yield :title %></h1>

<%= render 'form' %>

<p><%= link_to "Delete #{@chapter.name}", @chapter, :confirm => 'Are you sure?', :method => :delete %></p>
