body {
  font-size: 1.8rem !important;
  padding-top: 60px;
  color: #252525;
}

ul.breadcrumb {
  padding-left: 0px;
}

.breadcrumb > li {
  color: #444 !important;
}

.breadcrumb > li, .breadcrumb > li > a {
  font-size: 3rem;
}

.btn-group {
  margin-bottom: 1rem;
}

#search-section {
  margin-top: 4rem;
}

.tab-pane > h2,
.tab-pane > h3,
.tab-pane > h4 {
  color: #3A56A2;
  font-weight: bold;
}

.courses-list li,
.sections-list li,
.lessons-list li {
  line-height: 2;
}
