body {
  font-size: 1.6rem !important;
  padding-top: 60px;
}

li, a {
  font-size: 1.6rem;
}

ul.breadcrumb {
  padding-left: 0px;
}

.breadcrumb > li {
  color: #444 !important;
}

.breadcrumb > li, .breadcrumb > li > a {
  font-size: 3rem;
}

.btn-group {
  margin-bottom: 1rem;
}

#search-section {
  margin-top: 4rem;
}
