body, h1, h2, h3, h4, h5, h6, div, p, a, input, button {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans', sans-serif !important;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #283a6a;
}

h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
  color: #3a56a2;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #3a56a2;
}

body {
  font-size: 1.8rem !important;
  padding-top: 60px;
  color: #252525;
}

ul.breadcrumb {
  padding-left: 0px;
}

.breadcrumb > li {
  color: #444 !important;
}

.breadcrumb > li, .breadcrumb > li > a {
  font-size: 3rem;
}

.btn-group {
  margin-bottom: 1rem;
}

.search-delete-section {
  margin-top: 4rem;
}

.tab-pane > h2,
.tab-pane > h3,
.tab-pane > h4 {
  color: #3A56A2;
  font-weight: bold;
}

.courses-list li,
.sections-list li,
.lessons-list li {
  line-height: 2;
}

#epicodus-logo {
  width: 150px;
  margin: 20px;
  display: inline;
}

div.active > *:not(:first-child, hr) {
  margin-top: 25px;
}

#change-theme {
  cursor: pointer;
  color: rgb(217, 35, 15);
}
