.main-course-link {
  font-size: 2em;
  font-weight: 500;
  color: #3a54a4;
}

.main-course-link:hover {
  color: #575250;
}

.unstyled-list {
  margin: 0;
  list-style: none;
}

.unstyled-list li {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
