.main-course-link {
  font-size: 2em;
  font-family: 'Josefin Sans';
  font-weight: 700;
}

.unstyled-list {
  margin: 0;
  list-style: none;
}

.unstyled-list li {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
