ul.lesson {
  display: none;
}

a.course, a.section {
  cursor: pointer;
}

a.section:hover {
  color: #575250;
}

a.lesson:hover {
  color: #575250;
}

#video {
  padding-bottom: 14px;
}

blockquote p {
  margin-bottom: inherit;
  line-height: inherit;
  font-size: 14px;
}

a {
  color: #3399ff;
}

a:hover {
  color: #575250;
}

a.btn.btn-large:hover {
  color: #575250;
}

.filename {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding: 4px 9.5px;
  background-color: #E6E6E6;
  font-weight: 600;
}
